/* BOTON CALL TO ACTION */
.action{
    margin: auto;
    margin-top: 25px;
    width: 95%;
}

.reserva{
    padding: 25px 20px;
    font-size: 20pt;
    font-weight: 500;
}

/* TITULO */
.titulo{
    text-align: center;
    font-weight: 600;
}

/* CARRUSEL INDEX */
.carrusel{
    margin: auto;
    margin-top: 10px;
    /* margin-left: 5px; */
    width: 95%;
}
.padreCarrusel{
    position: relative;
    height: 70vh;
}

.fotoCarrusel{
    position: absolute;
}

/* BODY GENERAL */
body{
    background-color: azure;
}

/* NAV BAR */

.barra{
    background-color: azure;
    font-size: 20pt;
    font-weight: 400;
}

.logo{
    border-radius: 5px;
    width: 90px;
}
/* FOOTER */

footer{
    margin-top: 1%;
    font-weight: bold;
    background-color: #198754;
}

/* FORMULARIO DE RESERVA */

form{
    margin-left: 15px;
}



/* MEDIA QUERIES*/
@media only screen and (max-width: 576px) {
    .padreCarrusel{
        position: relative;
        height: 30vh;
    }
}

@media only screen and (min-width: 576px) {
    .padreCarrusel{
        position: relative;
        height: 35vh;
    }
}

@media only screen and (min-width: 768px) {
    .padreCarrusel{
        position: relative;
        height: 30vh;
    }
}

@media only screen and (min-width: 992px) {
	.padreCarrusel{
        position: relative;
        height: 50vh;
    }
}

@media only screen and (min-width: 1200px) {
	
} 

@media only screen and (min-width: 1400px) {
	.padreCarrusel{
        position: relative;
        height: 70vh;
    }
}