/* BOTON CALL TO ACTION */
.action{
    margin-top: 35px;
    margin-left: 5px;
    width: 95%;
}

/* CARRUSEL INDEX */
.carrusel{
    margin-top: 10px;
    margin-left: 5px;
    width: 95%;
}

/* BODY GENERAL */
.body{
    background-color: azure;
}

/* NAV BAR */

.barra{
    background-color: azure;
}