/* BODY GENERAL */
body {
	background-color: $background-color_1;
}
/* TITULO */
.titulo {
	text-align: center;
	font-weight: 600;
}
/* BOTONES */
button{
	margin-top: 3px;
	margin-bottom: 10px;
}

/* ol RESERVAS */

ol li{
	font-weight: 550;
}
